<mat-grid-list cols="5" rowHeight="3:2">

  <mat-grid-tile>
    <img src="../../../assets/images/draak-paars.png"/>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="3">
    <app-search></app-search>
  </mat-grid-tile>

  <mat-grid-tile>
    <div *ngIf="getLoggedInUserFirstName() == undefined; else elseBlock">
      <button mat-raised-button color="accent" routerLink="/login">Login/Register</button>
    </div>
    <ng-template #elseBlock>
      <button mat-button [matMenuTriggerFor]="myShopr"> {{getLoggedInUserFirstName()}} <i class="material-icons">keyboard_arrow_down</i></button>
      <mat-menu #myShopr="matMenu">
        <button mat-menu-item>Order history</button>
        <button mat-menu-item routerLink="/" (click)="resetLoggedInUser()">Logout</button>
      </mat-menu>
      <button mat-icon-button>
        <mat-icon color="warn" matTooltip="go to Favourites">favorite</mat-icon>
      </button>
      <button mat-icon-button routerLink="/cart">
        <mat-icon matBadge="{{itemsInCart}}" matBadgeColor="warn" matTooltip="go to Shopping cart">shopping_cart</mat-icon>
      </button>
    </ng-template>
  </mat-grid-tile>
</mat-grid-list>
