<mat-card class="shoppingCartCard">
  <mat-card-header>
    <mat-card-title class="cardTitle">
      Shopping cart
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step>
          <!--<mat-step [stepControl]="firstFormGroup">-->
          <!--<form [formGroup]="firstFormGroup">-->
          <ng-template matStepLabel>Review your order</ng-template>
          <app-shopping-cart></app-shopping-cart>
          <div>
            <button mat-raised-button color="accent" matStepperNext>Next</button>
          </div>
      </mat-step>

      <mat-step>
        <!--<mat-step>-->
        <form [formGroup]="secondFormGroup">
          <!--<form>-->
          <ng-template matStepLabel>Payment details</ng-template>
          <app-payment-details [secondFormGroup]="secondFormGroup"></app-payment-details>
          <div>
            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
            <button mat-raised-button color="accent" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Confirmation</ng-template>
        You are now done.
        <div>
          <button mat-raised-button color="accent" matStepperPrevious>Back</button>
          <button mat-raised-button color="accent" (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>


  </mat-card-content>
</mat-card>
