<mat-card class="shoppingCartCard">
  <mat-card-header>
    <mat-card-title class="cardTitle">
      Shopping cart
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-horizontal-stepper #stepper>
      <mat-step>
          <ng-template matStepLabel>Review your order</ng-template>
          <app-shopping-cart></app-shopping-cart>
          <div>
            <table width="100%">
              <tr>
                <td style="text-align: right;">
                  <button mat-raised-button color="accent" matStepperNext>Next <i class="material-icons">navigate_next</i></button>
                </td>
              </tr>
            </table>
          </div>
      </mat-step>

      <mat-step>
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Payment details</ng-template>
          <app-payment-details [secondFormGroup]="secondFormGroup"></app-payment-details>
          <div>
            <table width="100%">
              <tr>
                <td style="text-align: left;">
                  <button mat-raised-button color="accent" matStepperPrevious><i class="material-icons">navigate_before</i> Back</button>
                </td>
                <td style="text-align: right;">
                  <button mat-raised-button color="accent" matStepperNext>Next <i class="material-icons">navigate_next</i></button>
                </td>
              </tr>
            </table>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Confirmation</ng-template>
        <app-confirmation></app-confirmation>
        <div>
          <table width="100%">
            <tr>
              <td style="text-align: left;">
                <button mat-raised-button color="accent" matStepperPrevious><i class="material-icons">navigate_before</i> Back</button>
              </td>
              <td style="text-align: right;">
                <button mat-raised-button color="accent" (click)="persistOrder()"> <i class="material-icons">send</i>Confirm Order</button>
              </td>
            </tr>
          </table>
          <!--<button mat-raised-button color="accent" (click)="stepper.reset()">Reset</button>-->

        </div>
      </mat-step>
    </mat-horizontal-stepper>


  </mat-card-content>
</mat-card>
