<form>
  <div class="grid-container">
    <!-------------------------------------------- kolom 1 -------------------------------------------->
    <span class="grid-item">
      <mat-radio-group name="searchRadio" [(ngModel)]="searchRadio">
        <mat-radio-button class="radioMargin" value="article"></mat-radio-button><br>
        <mat-radio-button class="radioMargin" value="id"></mat-radio-button>
      </mat-radio-group>
    </span>
    <span class="grid-item">
      <mat-form-field>
        <mat-select placeholder="Select article type"
                    [(ngModel)]="selectedType"
                    [disabled]="selectedRadioSearchId()"
                    name="type">
          <mat-option value="any">Any</mat-option>
          <mat-option value="lp">LP</mat-option>
          <mat-option value="game">Game</mat-option>
          <mat-option value="fiction">Fiction</mat-option>
          <mat-option value="nonFiction">Non-Fiction</mat-option>
        </mat-select>
      </mat-form-field><br>

      <mat-form-field>
        <input matInput type="number"
               [disabled]="!selectedRadioSearchId()"
               placeholder="Article id">
      </mat-form-field>
    </span>

    <!-------------------------------------------- kolom 2 -------------------------------------------->
    <span class="grid-item">
      <mat-form-field>
        <input matInput type="text"
               [disabled]="selectedRadioSearchId()"
               placeholder="Title">
      </mat-form-field>
      <br/>
      <mat-label class="mat-body-1">Min {{minPrice}}€</mat-label>
      <mat-slider
        name="minSlider"
        [min]="lowestPrice"
        [max]="maxPrice"
        [step]="1"
        [disabled]="selectedRadioSearchId()"
        [thumbLabel]="true"
        [vertical]="vertical"
        [(ngModel)]="minPrice">
     </mat-slider>
     <br/>
      <mat-label class="mat-body-1">Max {{maxPrice}}€</mat-label>
      <mat-slider
        name="MaxSlider"
        [min]="minPrice"
        [max]="highestPrice"
        [step]="1"
        [disabled]="selectedRadioSearchId()"
        [thumbLabel]="true"
        [vertical]="vertical"
        matSuffix=" €"
        [(ngModel)]="maxPrice">
    </mat-slider>
    </span>

    <!-------------------------------------------- kolom 3 -------------------------------------------->
    <!--   LP   -->
    <span class="grid-item">
      <div *ngIf="isLp()">
        <mat-form-field>
          <input matInput
                 type="text"
                 [disabled]="selectedRadioSearchId()"
                 placeholder="Artist">
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-select placeholder="Select genre">
            <mat-option *ngFor="let genre of lpGenres" [value]="genre">
              {{genre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!--   GAME   -->
      <div *ngIf="isGame()">
        <mat-form-field>
          <input matInput
                 type="text"
                 [disabled]="selectedRadioSearchId()"
                 placeholder="Publisher">
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input matInput
                 type="number"
                 [disabled]="selectedRadioSearchId()"
                 placeholder="Minimum age">
        </mat-form-field>
          <br/>
        <mat-form-field>
          <mat-select placeholder="Select genre">
            <mat-option *ngFor="let genre of gameGenres" [value]="genre">
              {{genre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!--   FICTION   -->
      <div *ngIf="isFiction()">
        <mat-form-field>
          <mat-select placeholder="Select genre">
            <mat-option *ngFor="let genre of fictionGenres" [value]="genre">
              {{genre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input matInput
                 [disabled]="selectedRadioSearchId()"
                 type="text"
                 placeholder="Author">
        </mat-form-field>
        <br/>
          <mat-form-field>
            <input matInput
                   placeholder="ISBN"
                   [textMask]="{mask: isbnMask}"
                   formControlName="isbn">
          </mat-form-field>
      </div>

      <!--   NON FICTION   -->
      <div *ngIf="isNonFiction()">
        <mat-form-field>
          <mat-select placeholder="Select subject">
            <mat-option *ngFor="let subject of nonFictionSubjects" [value]="subject">
              {{subject}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input matInput
                 [disabled]="selectedRadioSearchId()"
                 type="text"
                 placeholder="Author">
        </mat-form-field>
        <br/>
          <mat-form-field>
            <input matInput
                   placeholder="ISBN"
                   [textMask]="{mask: isbnMask}"
                   formControlName="isbn">
          </mat-form-field>
      </div>
    </span>
    <button mat-stroked-button color="primary" style="height:50px;">Search</button>
  </div>


</form>

