<mat-card class="detailCard">
  <mat-card-header>
    <mat-card-title class="bold">
      {{lp.title}}
      <button mat-icon-button class="hoverRed" (click)="openDialog()">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button class="hoverOrange">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-title>
    <mat-card-subtitle>Artist: {{lp.artist}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <div class="grid-container">
      <span class="grid-item">Genre:</span>
      <span class="grid-item">{{lp.genre}}</span>
      <span class="grid-item">Supplier id:</span>
      <span class="grid-item">{{lp.supplierId}}</span>
      <span class="grid-item">Price:</span>
      <span class="grid-item bold">{{lp.price}} €</span>
    </div>

  </mat-card-content>
  <mat-card-actions class="buttons">

    <div style="float: left;">
      <span *ngIf="getLoggedInUserFirstName() != undefined">
        <span *ngIf="!fav.getValue(); else elseBlock">
          <button mat-icon-button (click)="addFavourite()" matTooltip="Add to favourites">
            <mat-icon class="likeButton">favorite_border</mat-icon>
          </button>
        </span>
        <ng-template #elseBlock>
          <button mat-icon-button (click)="removeFavourite()" matTooltip="Delete from favourites">
            <mat-icon class="unLikeButton">favorite</mat-icon>
          </button>
        </ng-template>
      </span>
        <button mat-icon-button color="primary" matTooltip="Add to shopping cart">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
    </div>

    <form>
      <mat-form-field>
        <input matInput [(ngModel)]="amount" type="number" size="2" name="amount">
      </mat-form-field>
    </form>

  </mat-card-actions>
</mat-card>
