<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th class="smallColumn" mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
    <td mat-cell *matCellDef="let fiction"> {{fiction.id}}</td>
  </ng-container>

  <ng-container matColumnDef="author">
    <th class="largeColumn" mat-header-cell *matHeaderCellDef mat-sort-header> Author</th>
    <td mat-cell *matCellDef="let fiction"> {{fiction.author}}</td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th class="largeColumn" mat-header-cell *matHeaderCellDef mat-sort-header> Title</th>
    <td mat-cell *matCellDef="let fiction"> {{fiction.title}}</td>
  </ng-container>

  <ng-container matColumnDef="genre">
    <th class="mediumColumn" mat-header-cell *matHeaderCellDef mat-sort-header> Genre</th>
    <td mat-cell *matCellDef="let fiction"> {{fiction.genre}}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th class="smallColumn" mat-header-cell *matHeaderCellDef mat-sort-header> Price</th>
    <td mat-cell *matCellDef="let fiction"> {{fiction.price}} €</td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th class="smallColumn" mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let fiction">
      <button mat-icon-button routerLink="/fiction/{{fiction.id}}">
        <mat-icon color="accent">info</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let fictions; columns: columnsToDisplay"></tr>
</table>
  <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
