.detailCard{
  width: 40%;
  margin: 1.5% auto;
}
.bold{
  font-weight: bold;
}
.grid-container {
  display: grid;
  grid-row-gap: 5px;
  grid-template-columns: auto auto;
  margin: 0 25px 0 25px;
}
.grid-item {
  padding: 10px;
}
.buttons{
  padding-left: 35px;
}
.hoverRed:hover{
  color:red;
  animation: shake 0.5s
}
.hoverOrange:hover{
  color:orange;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(-10deg); }
  20% { transform: rotate(10deg); }
  30% { transform: rotate(0deg); }
  40% { transform: rotate(20deg); }
  50% { transform: rotate(-20deg); }
  60% { transform: rotate(0deg); }
  70% { transform: rotate(-20deg); }
  80% { transform: rotate(20deg); }
  90% { transform: rotate(0deg); }
  100% { transform: rotate(-10deg); }
}

.likeButton:hover {
  color: red;
  animation: .8s infinite beatHeart;
}

@keyframes beatHeart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.unLikeButton{
  color: red;
  transition: 2.5s;
}
.unLikeButton:hover{
  opacity: 0.5;
  color: #666666;
}
