<mat-card class="detailCard">
  <mat-card-header>
    <mat-card-title class="bold">{{game.title}}</mat-card-title>
    <mat-card-subtitle>Publisher: {{game.publisher}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <div class="grid-container">
      <span class="grid-item">Genre:</span>
      <span class="grid-item">{{game.genre}}</span>
      <span class="grid-item">Minimum age:</span>
      <span class="grid-item">{{game.minimumAge}}</span>
      <span class="grid-item">Supplier id:</span>
      <span class="grid-item">{{game.supplierId}}</span>
      <span class="grid-item">Price:</span>
      <span class="grid-item bold">{{game.price}} €</span>
    </div>

  </mat-card-content>
  <mat-card-actions class="buttons">

    <div style="float: left;">
    <span *ngIf="!isFavourite(); else elseBlock">
      <button mat-icon-button matTooltip="Add to favourites">
        <mat-icon>favorite_border</mat-icon>
      </button>
    </span>
      <ng-template #elseBlock>
        <button mat-icon-button matTooltip="Delete from favourites">
          <mat-icon color="warn">favorite</mat-icon>
        </button>
      </ng-template>

      <button mat-icon-button color="primary" matTooltip="Add to shopping cart">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </div>

    <form>
      <mat-form-field>
        <input matInput [(ngModel)]="amount" name="amount" type="number" size="2">
      </mat-form-field>
    </form>

  </mat-card-actions>
</mat-card>
