<ol>
  <li *ngFor="let orderLine of cart; index as i">
    <div class="titleLine">
      {{orderLine.article.title}}
    </div>
    <div class="grid-container-price">
      <span class="priceItem">{{orderLine.amount}}</span>
      <span> x </span>
      <span>{{orderLine.article.price}} € </span>
      <span> = </span>
      <span>{{orderLine.price}} €</span>
      <span>
        <button mat-icon-button color="warn" matTooltip="Remove this item from your order" (click)="deleteOrderLine(i)">
          <i class="material-icons">remove_circle</i>
        </button>
      </span>
    </div>
  </li>
  <mat-divider [inset]="true"></mat-divider>
  <div class="totalPrice">
    <span>Total Price:</span>
    <span></span>
    <span></span>
    <span></span>
    <span>{{totalPrice}} €</span>
  </div>
</ol>

