.grid-container-price {
  display: grid;
  grid-template-columns: 20% 20% 20% 10% 20% 10%;
  margin: 10px 0;
}
.totalPrice{
  display: grid;
  grid-template-columns: 20% 20% 20% 10% 20% 10%;
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px 0 10px 0;
}
.priceItem{
  vertical-align: middle;
}
.titleLine{
  font-weight: bold;
}
.divider{
  width: 75%;
}

.grid-container-price > span{
  align-self: center;
  justify-self: center;
}
