<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      Card details
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="images-container">
      <img src="../../../assets/images/cards/visa.png" class="paymentType" id="visa" (click)="selectCardType($event)">
      <img src="../../../assets/images/cards/master.png" class="paymentType" id="master"
           (click)="selectCardType($event)">
      <img src="../../../assets/images/cards/amex.png" class="paymentType" id="amex" (click)="selectCardType($event)">
      <img src="../../../assets/images/cards/maestro.png" class="paymentType" id="maestro"
           (click)="selectCardType($event)">
      <img src="../../../assets/images/cards/paypal.png" class="paymentType" id="paypal"
           (click)="selectCardType($event)">
      <img src="../../../assets/images/cards/bit.png" class="paymentType" id="bit" (click)="selectCardType($event)">
    </div>

    <div class="input-container">
      <mat-form-field class="oneColumn">
        <input matInput placeholder="Card number" [textMask]="{mask: ccMask}"/>
      </mat-form-field>

      <div class="smallColumn">
        <span>Expire date: </span>

        <mat-form-field>
          <mat-select placeholder="Year">
            <mat-option *ngFor="let year of years" value="year">{{year}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Month">
            <mat-option *ngFor="let month of months" [value]="month">{{month}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field class="oneColumn">
        <input matInput placeholder="CVC code" [textMask]="{mask: cvc}"/>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>


<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      Shipment details
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="input-container">
      <div>
        <span class="personal">
          <mat-form-field>
            <input matInput placeholder="First name">
          </mat-form-field>
        </span>
        <span>
          <mat-form-field>
            <input matInput placeholder="Surname">
          </mat-form-field>
        </span>
      </div>

      <div>
        <span class="personal">
        <mat-form-field >
          <input matInput placeholder="Street">
        </mat-form-field>
          </span>
        <span>
        <mat-form-field>
          <input matInput type="number" placeholder="Number">
        </mat-form-field>
        </span>
      </div>

      <div>
        <span>
          <mat-form-field class="personal">
            <input matInput type="number" placeholder="Postal Code">
          </mat-form-field>
        </span>

        <span>
          <mat-form-field>
            <input matInput placeholder="City">
          </mat-form-field>
        </span>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="Country">
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>
