<div [formGroup]="parts" class="isbn-input-container">
  <input class="isbn-input-element" formControlName="segment1" size="3">
  <span class="isbn-input-spacer">-</span>
  <input class="isbn-input-element" formControlName="segment2" size="2">
  <span class="isbn-input-spacer">-</span>
  <input class="isbn-input-element" formControlName="segment3" size="4">
  <span class="isbn-input-spacer">-</span>
  <input class="isbn-input-element" formControlName="segment4" size="3">
  <span class="isbn-input-spacer">-</span>
  <input class="isbn-input-element" formControlName="segment5" size="1">
</div>
